p{
    color: #050003;
}
h3{
    color:#000080;
}
*{
    background-color: #ffffff;
}
.images{
    display:flex;
    flex-direction:row;
justify-content: space-between;

}
img {
    border: #c5008a 10px  solid;
    border-radius: 20px;
}
p{
    margin-left: 50px;
    padding: 30px;
    font-family: cursive;
}
h3{
    margin-left: 60px;
    padding: 30px;
    font-family: fantasy;
}
a:link{
    color:chartreuse;
}
a:visited{
    color:fuchsia;
}
.menu:hover p
{opacity: 1;}
 
.images:hover img{
    opacity: 0.25;
}
